.title {
    font-size: xx-large;
}

body 
{
    font-family: Georgia, serif;
}

.align {
    position: relative;
    left: 1000px;
}

.image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a
{
    color: black;
}



h1 
{
    text-align: center;
    outline: 4.5px solid white;
    outline-offset: 4.5px;
}

ul
{
    font-style: italic;
    font-weight: bold;
    list-style-type: square;
}

.align2{
    text-align: center;
}

h2 
{
    font-style: oblique;
}

.center2
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote 
{
    text-align: center;
    font-style: italic;
}

nav {
    text-align: center;
    background-color: white;
    font-style: italic;
}
